@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

// Fonts
$roboto: 'Roboto', sans-serif;
$italiana: 'Italiana', serif;

// Colors
$color-primary: #E49E00;
